.marks .land {
  fill: #ececec;
  stroke: none;
}

.marks .sphere {
  fill: #fbfbfb;
  stroke: none;
}

.marks .interiors {
  fill: none;
  stroke: #d9dfe0;
  stroke-width: 1px;
}

.marks .graticule {
  fill: none;
  stroke: #ececec;
  stroke-width: 1px;
}

circle {
  fill: #137b80;
  opacity: 0.3;
}
